<%- include('partials/header') %>
<body>
   
    <%- include('partials/navbar') %>
              
         
    <div class="container-fluid p-0 position-relative vid">
        <video width="100%" height="500px" loop="" autoplay="" muted="" style="object-fit: cover;">
            <source src="assets/video.mp4" type="video/mp4">
        </video>
        <div class="overlay-text top-left text-sm mt-3">
            <h1 class="display-5 " >IT'S TIME<br> TO EXPLORE<br> THE WOLRD</h1>
            <p class="lead">WE OFFER GREAT TRAVEL GUIDE</p>
        </div>
    
        
        <div class="overlay-text bottom-left">
            <a href="#" class="lead">More About us</a>
        </div>
    </div>
    <div class="container text-center acts mt-5">
        <h1 class="display-4">Activities Guide</h1>
        <div class="container">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-4 col-sm-6 col-12  d-flex justify-content-center">
                        <div class="card text-center border-0">
                            <img src="assets/camping.jpg" class="rounded-circle card-img-top " alt="Image 1" style="max-width: 120px; max-height: 120px; margin: 0 auto;">
                            <div class="card-body">
                                <h5 class="card-title">Camping</h5>
                            </div>
                        </div>
                    </div>
            
                    
                    <div class="col-md-4 col-sm-6 col-12 d-flex justify-content-center">
                        <div class="card text-center border-0">
                            <img src="assets/kayak.jpg" class="rounded-circle card-img-top " alt="Image 2" style="max-width: 120px; max-height: 120px; margin: 0 auto;">
                            <div class="card-body">
                                <h5 class="card-title">Kayaking</h5>
                            </div>
                        </div>
                    </div>
            
                    
                    <div class="col-md-4 col-sm-6 col-12 d-flex justify-content-center">
                        <div class="card text-center border-0">
                            <img src="assets/caving.jpg" class="rounded-circle card-img-top " alt="Image 3" style="max-width: 120px; max-height: 120px; margin: 0 auto;">
                            <div class="card-body">
                                <h5 class="card-title">Caving</h5>
                            </div>
                        </div>
                    </div>
            
                    
                    <div class="col-md-4 col-sm-6 col-12 d-flex justify-content-center">
                        <div class="card text-center border-0">
                            <img src="assets/col.jpg" class="rounded-circle card-img-top " alt="Image 4" style="max-width: 120px; max-height: 120px; margin: 0 auto;">
                            <div class="card-body">
                                <h5 class="card-title">Culture</h5>
                            </div>
                        </div>
                    </div>
            
                   
                    <div class="col-md-4 col-sm-6 col-12 d-flex justify-content-center">
                        <div class="card text-center border-0">
                            <img src="assets/rand.png" class="rounded-circle card-img-top " alt="Image 5" style="max-width: 120px; max-height: 120px; margin: 0 auto;">
                            <div class="card-body">
                                <h5 class="card-title">Hiking</h5>
                            </div>
                        </div>
                    </div>
            
                   
                    <div class="col-md-4 col-sm-6 col-12 d-flex justify-content-center">
                        <div class="card text-center border-0">
                            <img src="assets/sahara.jpg" class="rounded-circle card-img-top " alt="Image 6" style="max-width: 120px; max-height: 120px; margin: 0 auto;">
                            <div class="card-body">
                                <h5 class="card-title">Sahara Trip</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>

    <div class="container text-center mt-5">
        <h1 class="display-4">Our Team</h1>
        <section class="team">
            <div class="swiper mySwiper container">
              <div class="swiper-wrapper content">
        
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="assets/tij.jpg" alt="">
                    </div>
        
                    <div class="media-icons">
                      <i class="fab fa-facebook"></i>
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-instagram"></i>
                    </div>
        
                    <div class="name-profession">
                      <span class="name">Tijani Sfaxi</span>
                      <p>CEO</p>
                       
                    </div>
        
                    
        
                     
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="assets/img1.jpg" alt="">
                    </div>
        
                    <div class="media-icons">
                      <i class="fab fa-facebook"></i>
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-instagram"></i>
                    </div>
        
                    <div class="name-profession">
                      <span class="name">Name</span>
                      <p>Computer Engineer</p>
                      
                    </div>
        
                    
                  
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="assets/img1.jpg" alt="">
                    </div>
        
                    <div class="media-icons">
                      <i class="fab fa-facebook"></i>
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-instagram"></i>
                    </div>
        
                    <div class="name-profession">
                      <span class="name">Name</span>
                      <p>Marketing Responsible</p>
                    </div>
        
                   
        
                    
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="assets/img1.jpg" alt="">
                    </div>
        
                    <div class="media-icons">
                      <i class="fab fa-facebook"></i>
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-instagram"></i>
                    </div>
        
                    <div class="name-profession">
                      <span class="name">Name</span>
                      <p>Comercial Assistant</p>
                    </div>
        
                    
        
                    
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="assets/img1.jpg" alt="">
                    </div>
        
                    <div class="media-icons">
                      <i class="fab fa-facebook"></i>
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-instagram"></i>
                    </div>
        
                    <div class="name-profession">
                        <span class="name">Name</span>
                        <p>Work</p>
                     
                    </div>
        
                   
        
                    
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="assets/img1.jpg" alt="">
                    </div>
        
                    <div class="media-icons">
                      <i class="fab fa-facebook"></i>
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-instagram"></i>
                    </div>
        
                    <div class="name-profession">
                        <span class="name">Name</span>
                        <p>Work</p>
                      
                    </div>
        
                    
        
                    
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="assets/img1.jpg" alt="">
                    </div>
        
                    <div class="media-icons">
                      <i class="fab fa-facebook"></i>
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-instagram"></i>
                    </div>
        
                    <div class="name-profession">
                        <span class="name">Name</span>
                        <p>Work</p>
                      
                    </div>
        
                    
        
                    
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="assets/img1.jpg" alt="">
                    </div>
        
                    <div class="media-icons">
                      <i class="fab fa-facebook"></i>
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-instagram"></i>
                    </div>
        
                    <div class="name-profession">
                        <span class="name">Name</span>
                        <p>Work</p>
                      
                    </div>
        
                   
        
                    
                  </div>
                </div>
                <div class="swiper-slide card">
                  <div class="card-content">
                    <div class="image">
                      <img src="assets/img1.jpg" alt="">
                    </div>
        
                    <div class="media-icons">
                      <i class="fab fa-facebook"></i>
                      <i class="fab fa-twitter"></i>
                      <i class="fab fa-instagram"></i>
                    </div>
        
                    <div class="name-profession">
                        <span class="name">Name</span>
                        <p>Work</p>
                      
                    </div>
        
                    
        
                    
                  </div>
                </div>
        
              </div>
            </div>
        
            <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              
        </section>
    </div>

    <div class="container text-left events mt-5">
        <p class="m-0">TRAVEL STORIES AND NEWS</p>
        <h3 class="m-0">Explore Latest Events</h3>
        
            <div class="row">
                <div class="col-md-6 ">
                    <div class="overlay-container">
                        <img src="assets/caption.jpg" class="img-fluid" id="main-event" alt="Image">
                        <div class="overlay-text">
                            <h4 class="display-6">EL-JAM</h4>
                            <p class="lead">10/01/2023 Organized by Travel to do</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6 second-event">
                    <div class="overlay-container">
                        <img src="assets/be.jpg" class="img-fluid" alt="Second Image">
                        <h4 class="display-6">Second Event</h4>
                        <p class="lead">Date and Organizer</p>
                    </div>
                </div>
        
                <!-- Third Image -->
                <div class="col-md-3 col-6 second-event">
                    <div class="overlay-container">
                        <img src="assets/hiking.jpg" class="img-fluid" alt="Third Image">
                        <h4 class="display-6">Second Event</h4>
                        <p class="lead">Date and Organizer</p>
                        
                    </div>
                </div>
            </div>
        
    </div>
    
    <div class="container-fluid text-center mt-5 feed py-5">
        <h1 class="display-4">Feedbacks</h1>
        <section class="feedback">
            <div class="swiper mySwiper container">
                <div class="swiper-wrapper content">

                    <div class="swiper-slide card">
                      <div class="card-content">
                        <div class="name-profession">
                          <span class="name">Someone Name</span>
                        </div>
                        <div class="comment">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum ea commodi, provident, praesentium a iure blanditiis adipisci deserunt iusto quis consequatur.
                        </div>
            
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                        </div>
            
                      
                      </div>
                    </div>
                    <div class="swiper-slide card">
                      <div class="card-content">
                       
            
                        
            
                        <div class="name-profession">
                          <span class="name">Someone Name</span>
                        </div>
                        <div class="comment">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum ea commodi, provident, praesentium a iure blanditiis adipisci deserunt iusto quis consequatur.
                        </div>
            
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                        </div>
            
                      
                      </div>
                    </div>
                    <div class="swiper-slide card">
                      <div class="card-content">
                       
            
                        
            
                        <div class="name-profession">
                          <span class="name">Someone Name</span>
                        </div>
                        <div class="comment">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum ea commodi, provident, praesentium a iure blanditiis adipisci deserunt iusto quis consequatur.
                        </div>
            
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
            
                      
                      </div>
                    </div>
                    <div class="swiper-slide card">
                      <div class="card-content">
                       
            
                        
            
                        <div class="name-profession">
                          <span class="name">Someone Name</span>
                        </div>
                        <div class="comment">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum ea commodi, provident, praesentium a iure blanditiis adipisci deserunt iusto quis consequatur.
                        </div>
            
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                        </div>
            
                      
                      </div>
                    </div>
                    <div class="swiper-slide card">
                      <div class="card-content">
                       
            
                        
            
                        <div class="name-profession">
                          <span class="name">Someone Name</span>
                        </div>
                        <div class="comment">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum ea commodi, provident, praesentium a iure blanditiis adipisci deserunt iusto quis consequatur.
                        </div>
            
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                        </div>
            
                      
                      </div>
                    </div>
                    <div class="swiper-slide card">
                      <div class="card-content">
                       
            
                        
            
                        <div class="name-profession">
                          <span class="name">Someone Name</span>
                        </div>
                        <div class="comment">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum ea commodi, provident, praesentium a iure blanditiis adipisci deserunt iusto quis consequatur.
                        </div>
            
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                        </div>
            
                      
                      </div>
                    </div>
                    <div class="swiper-slide card">
                      <div class="card-content">
                       
            
                        
            
                        <div class="name-profession">
                          <span class="name">Someone Name</span>
                        </div>
                        <div class="comment">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum ea commodi, provident, praesentium a iure blanditiis adipisci deserunt iusto quis consequatur.
                        </div>
            
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                        </div>
            
                      
                      </div>
                    </div>
                    <div class="swiper-slide card">
                      <div class="card-content">
                    
                        <div class="name-profession">
                          <span class="name">Someone Name</span>
                        </div>
                        <div class="comment">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum ea commodi, provident, praesentium a iure blanditiis adipisci deserunt iusto quis consequatur.
                        </div>
            
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                        </div>
            
                      
                      </div>
                    </div>
                    <div class="swiper-slide card">
                      <div class="card-content">
                        <div class="name-profession">
                          <span class="name">Someone Name</span>
                        </div>
                        <div class="comment">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum ea commodi, provident, praesentium a iure blanditiis adipisci deserunt iusto quis consequatur.
                        </div>
            
                        <div class="rating">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                        </div>
            
                      
                      </div>
                    </div>
            
                  </div>
            </div>
        
            <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              
        </section>
    </div>
</body>
<%- include('partials/footer') %>